[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pywebview = {extras = ["qt"], version = "*"}
platformdirs = "*"
packaging = "*"

[dev-packages]
pyinstaller = "*"
mamba = "*"
expects = "*"

[requires]
python_version = "3.13"
