body[data-theme="DARK"] {
    --background: #202124;
    --foreground: white;
    --hint: #27292b;
    --selected: #171819;
    --accent: lightblue;
}

body[data-theme="LIGHT"] {
    --background: white;
    --foreground: black;
    --hint: #eee;
    --selected: #eee;
    --accent: steelblue;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header,
.selection-bar {
    background-color: var(--hint) !important;
}

.selection-bar span {
    color: var(--foreground);
}

mat-icon,
mat-icon.mat-primary,
mat-icon.mat-accent,
mat-icon.mat-warn {
    color: var(--accent) !important;
}

.mat-mdc-select {
    color: var(--accent) !important;
}

.gmat-mdc-button.gmat-mdc-button:not(
        .mat-mdc-button-disabled
    ).mat-mdc-button:focus,
.gmat-mdc-button.gmat-mdc-button:not(
        .mat-mdc-button-disabled
    ).mat-mdc-button:hover {
    color: var(--accent) !important;
}

.-gb-tonal-button.gmat-mdc-button.mat-mdc-button.mat-primary {
    color: var(--accent) !important;
}

.-gb-tonal-button.gmat-mdc-button.mat-mdc-button.mat-primary {
    background-color: var(--hint) !important;
}

.mat-mdc-menu-panel {
    background-color: var(--background) !important;
}

.mat-mdc-form-field {
    background-color: var(--hint) !important;
}

.mat-mdc-select-arrow svg {
    fill: var(--accent) !important;
}

/* Progress button */
.mat-mdc-select-placeholder {
    color: var(--accent) !important;
    transition: none !important;
}

/* Upload files button */
.mdc-button__label {
    color: var(--accent) !important;
}

/* Dropdown text on book cards */
.mat-mdc-menu-item-text {
    color: var(--foreground);
}

/* Recent and progress dropdowns */
div.mat-mdc-select-panel {
    background-color: var(--background) !important;
}

/* Active dropdown item */
.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background-color: var(--hint) !important;
    color: var(--foreground) !important;
}

/* Dropdown item */
.mat-mdc-option {
    color: var(--foreground) !important;
}

/* Recent dropdown item selected text */
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
        .mat-mdc-option-multiple
    )
    .mdc-list-item__primary-text {
    color: var(--foreground) !important;
}

/* Tick icon on selectec drop down item */
.gmat-mdc-select
    .mat-mdc-select-panel.mat-primary
    .mat-mdc-option
    .mat-pseudo-checkbox,
.gmat-mdc-select
    .mat-mdc-select-panel.mat-undefined
    .mat-mdc-option
    .mat-pseudo-checkbox {
    --mat-pseudo-checkbox-minimal-selected-checkmark-color: var(
        --foreground
    ) !important;
}

/* Book card selected */
.card.selected {
    background-color: var(--hint) !important;
}

.mat-app-background {
    background-color: var(--background);
}

shelf-header > .header > .header-content {
    display: none !important;
}

/* Book cards */
gpb-library-card {
    background-color: var(--background) !important;
}

/* Book titles */
a.title {
    color: var(--foreground);
}

/* Hide search input */
.gb_ze {
    display: none !important;
}

/* Hide settings and help buttons */
.gb_ke {
    display: none;
}

/* Hide Google apps */
.gb_4c {
    display: none;
}

.mat-expansion-panel {
    background-color: var(--hint) !important;
}

footer {
    display: none !important;
}

.mat-mdc-dialog-surface {
    background-color: var(--selected) !important;
}

.navbar-item.selected {
    background-color: var(--selected) !important;
}

.navbar-item.selected.cdk-focused[_ngcontent-ng-c3080176001],
.navbar-item.selected[_ngcontent-ng-c3080176001]:hover {
    background-color: var(--background) !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title {
    color: var(--foreground) !important;
}

.mat-expansion-panel-header-title[_ngcontent-ng-c3080176001],
.navbar-header[_ngcontent-ng-c3080176001],
.navbar-item[_ngcontent-ng-c3080176001]:not(.mat-primary) {
    color: var(--foreground) !important;
}

/* Hide Google Play logo */
a[aria-label="Google Play Books"] {
    display: none;
}

.gmat-mdc-dialog .mat-mdc-dialog-container .mat-mdc-dialog-content {
    color: var(--foreground);
}

.frankenstein-logo {
    height: 50px;
    width: auto;
}

body[data-theme="LIGHT"] .frankenstein-logo {
    filter: invert(100) brightness(0);
}

/* Action buttons in the top right */
.gb_Te {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.moon {
    cursor: pointer;
    margin-top: 3px;
}

/* Checkboxes inside edit shelves modal */
.mat-mdc-checkbox .mat-internal-form-field {
    color: var(--foreground) !important;
}

/* Empty collection dialog */
.inline-dialog-box {
    background-color: var(--hint) !important;
    box-shadow: 0 2px 4px var(--accent);
}

.inline-dialog-header,
.inline-dialog-body {
    color: var(--foreground) !important;
}

.inline-dialog-box button {
    display: none !important;
}

.frankenstein-version {
    color: var(--accent);
    font-weight: bold;
    padding: 20px 50px;
    cursor: pointer;
}

.frankenstein-version:hover {
    text-decoration: underline;
}

.frankenstein-dialog {
    background-color: var(--background);
    border-radius: 18px;
    box-shadow: 0 2px 4px var(--accent);
    color: var(--foreground);
    padding: 20px;
    border-color: var(--accent);
    max-width: 500px;
}

.frankenstein-dialog::backdrop {
    background-color: var(--background);
    opacity: 0.5;
    backdrop-filter: blur(10px);
}

.frankenstein-dialog h2 {
    margin: 0;
}

.frankenstein-dialog p {
    margin: 10px 0;
}

.frankenstein-dialog #update-button,
.frankenstein-dialog #close-about-button {
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    color: var(--background);
    cursor: pointer;
    padding: 10px 20px;
}

.frankenstein-dialog #update-button:focus,
.frankenstein-dialog #close-about-button:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

.frankenstein-dialog #update-button:hover,
.frankenstein-dialog #close-about-button:hover {
    background-color: var(--accent);
}

.frankenstein-dialog #cancel-update-button {
    background-color: var(--background);
    border: 2px solid var(--accent);
    border-radius: 4px;
    color: var(--accent);
    cursor: pointer;
    padding: 10px 20px;
}

.frankenstein-dialog #cancel-update-button:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

.frankenstein-dialog .flex-container {
    display: flex;
    gap: 15px;
}

.frankenstein-dialog .dialog-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.frankenstein-dialog .dialog-center p {
    text-align: center;
}

.simple-icon {
    fill: var(--accent);
}
